[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
orjson = "*"
python-multipart = "*"
loguru = "*"
pymongo = "*"
motor = "*"
beanie = "*"
pushover-python = "*"
aiofiles = "*"
requests = "*"
python-dateutil = "*"
passlib = {extras = ["bcrypt"], version = "*"}
jose = "*"
python-jose = "*"
gunicorn = "*"
pydantic-settings = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11.6"
